@import "../node_modules/bootstrap/scss/bootstrap";

$primary: #153977;
$secondary: #3888CB;
$light: #E1DCD9;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "light": $light
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1700px
);